# Combining & Exporting Data

# Importing Libraries and creating dataframes

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [8]:
# Create dataframes
path= r"C:\Users\sosia\12-2024 Instacart Basket Analysis"

In [22]:
df_ords = pd.read_csv(r'C:\Users\sosia\12-2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [12]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [14]:
df_dep = pd.read_csv(r'C:\Users\sosia\12-2024 Instacart Basket Analysis\02 Data\Original Data\4.4_departments\departments.csv', index_col = False)

In [18]:
df_ords_prior = pd.read_csv(r'C:\Users\sosia\12-2024 Instacart Basket Analysis\02 Data\Original Data\4.6_orders_products_prior\orders_products_prior.csv', index_col = False)

# Merge dataframes

In [20]:
# check dimensions for df_ords_prior table
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [24]:
# Check the output
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [28]:
df_ords_prior.shape

(32434489, 4)

In [30]:
df_ords.shape

(3421083, 8)

In [32]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [34]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [38]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [ ]:
df_merged_large.head()

# Export data to csv or pkl

In [ ]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [ ]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [2]:
df_merged_large

NameError: name 'df_merged_large' is not defined