# 4.10 Crosstable

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [5]:
path= r"C:\Users\sosia\12-2024 Instacart Basket Analysis"

In [7]:
ords_prods_merge = pd.read_pickle(r'C:\Users\sosia\12-2024 Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge48.pkl')

In [8]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,...,prices,busiest_day,busiests_days,busiest_period_of_day,max_order,loyalty_flag,total_orders,avg_price_per_user,spending_flag,order_frequency_flag
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,9.0,Regularly busy,Regularly busy,Average orders,10,New Customer,10,6.367797,Low spender,Non-frequent customer
1,1,0,2539329,1,prior,1,2,8,NaN,14084,...,12.5,Regularly busy,Regularly busy,Average orders,10,New Customer,10,6.367797,Low spender,Non-frequent customer
2,2,0,2539329,1,prior,1,2,8,NaN,12427,...,4.4,Regularly busy,Regularly busy,Average orders,10,New Customer,10,6.367797,Low spender,Non-frequent customer
3,3,0,2539329,1,prior,1,2,8,NaN,26088,...,4.7,Regularly busy,Regularly busy,Average orders,10,New Customer,10,6.367797,Low spender,Non-frequent customer
4,4,0,2539329,1,prior,1,2,8,NaN,26405,...,1.0,Regularly busy,Regularly busy,Average orders,10,New Customer,10,6.367797,Low spender,Non-frequent customer

In [9]:
# Crosstable = Pivot table
crosstab = pd.crosstab(ords_prods_merge['days_since_prior_order'], ords_prods_merge['order_number'], dropna = False)

In [13]:
# Copy crosstable to clipboard
crosstab.to_clipboard()